@use '../functions' as func;
@use 'colors' as *;

//
// theme color
//

$Primary-01: #161A47;
$Primary-02: #F58023;
$Primary-03: #F93939;
$Primary-04: #8C5C0A;

$Secondary-01: #331f00;
$Secondary-02: #ec9a20;
$Secondary-03: #fbead0;
$Secondary-04: #fefbf6;

$primary: $Primary-01 !default;
$secondary: $Secondary-01 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$alert: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'alert': $alert,
    'light': $light,
    'dark': $dark,
) !default;

// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast

$min-contrast-ratio: 4.5 !default;

$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

// Layout breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$xs: 0 !default;
$sm: 544px !default;
$md: 768px !default;
$lg: 1024px !default;
$xl: 1280px !default;
$xxl: 1536px !default;
$wp: 782px !default;

$mq-breakpoints: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    xxl: $xxl,
    wp: $wp,
) !default;

// Layout containers
//
// Define the maximum width of `.container` for different screen sizes.

$screen-sm: 100% !default;
$screen-md: 700px !default;
$screen-lg: 1000px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1416px !default;
$screen-wp: 750px !default;

$container-max-widths: (
    sm: $screen-sm,
    md: $screen-md,
    lg: $screen-lg,
    xl: $screen-xl,
    xxl: $screen-xxl,
    wp: $screen-wp,
) !default;

// Typography
//
// font-size, line-height, gutter, spacers and more.

$font-sizes: (
    body: ( 15px, 16px ),
    h1: ( 24px, 48px ),
    h2: ( 20px, 40px ),
    h3: ( 19px, 31px ),
    h4: ( 18px, 25px ),
    h5: ( 17px, 20px ),
    h6: ( 16px, 16px ),
) !default;

$base-line-height-header: 1.3;
$base-line-height-global: 1.618;

$gutter-xs: 10px !default;
$gutter: 15px !default;

$gap-xs: $gutter-xs * 2; // 10px * 2 = 20px
$gap: $gutter * 2; // 15px * 2 = 30px

$grid-columns: 12 !default;
$grid-columns-max: 12 !default;

$spacers: (
    gutter-xs: $gutter-xs,
    gutter: $gutter,
    gap-xs: $gap-xs,
    gap: $gap,
) !default;

// Body
//
// Settings for the `<body>` element.

$header-color: #161A47 !default;
$body-color: #161A47 !default;
$body-bg: #ffffff !default;

//
// styles.

$paragraph-margin-bottom: 15px !default;
$header-margin-bottom: 15px !default;

$global-margin: 15px !default;
$global-padding: 15px !default;
$global-position: 15px !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// Links
//
// Style anchor elements.

$link-color: #161A47 !default;
$link-decoration: underline !default;
$link-hover-color: func.shift-color($link-color, 20%) !default;
$link-hover-decoration: null !default;

//
// Other.

$scrollbar-w: 10px !default;
$scrollbar-h: 5px !default;

$header-font: 'Playfair Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, 'Ubuntu', Arial, cursive, serif !default;
$body-font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, 'Ubuntu', Arial, cursive, sans-serif !default;
$awesome-font: 'Font Awesome 6 Pro', 'Font Awesome 6 Brands', 'Font Awesome 6 Free', sans-serif;
$monospace-font: Consolas, 'Liberation Mono', Courier, monospace;

$img-path: '../img';
$font-path: '../fonts';
